<!DOCTYPE html>

<html lang="en">
  <body>
  <head>
    <title>Ducky</title>
    
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  
  <div class="navBar">
    <nav>
      <a href="https://ducky.is-a.dev/" class="navText">Ducky</a>
    </nav>
  </div>
  
    <section class="wrapper"><br>
    <div class="bg-fixed" aria-hidden="true"></div>
    <h2>factorization generator</h2>
      <br>
      <a class="codebadges" href="https://github.com/ducky4life/factorization"><img src="https://img.shields.io/badge/Source Code-181717?logo=github&logoColor=fff&style=for-the-badge" alt="GitHub Badge"></a>
      <p style="padding-top: 10px;">all arguments are optional</p>
      <br>
      
      <form method="post" enctype="multipart/form-data">
        

       <div style="display: flex; justify-content: center;">
         
        <div style="padding-right: 10px;">
          <p>amount</p><br>
          <textarea name="amount" placeholder="1-1000"></textarea>
        </div>

        <div style="padding-left: 10px; padding-right: 10px;">
          <p>x unknown name</p><br>
          <textarea name="x_unk" placeholder="e.g. (2m-n)"></textarea>
        </div>

        <div style="padding-left: 10px; padding-right: 10px;">
          <p>y unknown name</p><br>
          <textarea name="y_unk" placeholder="e.g. (5m+3n)"></textarea>
        </div>

        <div style="padding-left: 10px;">
          <p>square unknown name</p><br>
          <textarea name="square_unk" placeholder="(if 3 sq. terms)"></textarea>
        </div>
      </div><br>


      <div class="toggles">

        <div class="toggles" style="padding-right: 50px;">
          <p style="padding-right: 50px;">shuffle terms</p>
          <label class="switch">
            <input type="checkbox" name="shuffle">
            <span class="slider round"></span>
          </label>
        </div>

        <div class="toggles" style="padding-left: 50px;">
          <p style="padding-right: 50px;">export as file</p>
          <label class="switch">
            <input type="checkbox" name="output_as_file">
            <span class="slider round"></span>
          </label>
        </div>

      </div><br>
    
        <p>type of polynomial</p><br>
      <select name="polynomial_type" class="button button3">
        <option value="0_sq">no squares</option>
        <option value="2_sq_diff">2 squares (diff)</option>
        <option value="2_sq_same">2 squares (same)</option>
        <option value="3_sq">3 squares</option>
        <option value="perf_sq">perfect square</option>
        <option value="mixed">random</option>
      </select>
        
        <input class="button button3" type="submit" />
      </form>
      <br>

      {% for polynomial in message %}
            <p>{{  polynomial  }}</p>
      {% endfor %}
      {% if error %}
            <p>{{  error  }}</p>
      {% endif %}

    </body>
  </section>
</html>
